name: Test

on:
  workflow_dispatch: # Manual executions
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v4

      - name: Run markdown lint
        uses: DavidAnson/markdownlint-cli2-action@v19
        with:
          globs: '**/*.md'

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        esphome_version:
          - 2025.2.0
        test_file:
          - ./devices/adafruit-magtag/tests/main.yaml
          - ./devices/espressif-esp32-s3-box-3/tests/main.yaml
          - ./devices/espressif-esp32-s3-box-3/tests/sensor.yaml
          - ./devices/led-brick-home/tests/main.yaml
          - ./devices/led-brick-home/tests/single-channels.yaml
          - ./devices/localdeck/tests/main.yaml
          - ./devices/raspiaudio-muse-luxe/main.yaml
          - ./devices/raspiaudio-muse-luxe/media_player.yaml
          - ./devices/sonoff-rf-bridge/tests/doorbell.yaml
          - ./devices/sonoff-rf-bridge/tests/last-rf-received.yaml
          - ./devices/sonoff-rf-bridge/tests/main.yaml
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v4

      - name: Run test script
        run: ./test.sh -t ${{ matrix.test_file }} -v ${{ matrix.esphome_version }}
