name: Test

on:
  workflow_dispatch: # Manual executions
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: 5 4 10 * *

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v4

      - name: Run markdown lint
        uses: DavidAnson/markdownlint-cli2-action@v19
        with:
          globs: '**/*.md'

  device_test:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      matrix:
        esphome_version:
          - 2025.9.3
          - 2025.10.5
          - 2025.11.0
          - latest
        test_file:
          - ./devices/adafruit-magtag/tests/main.yaml
          - ./devices/espressif-esp32-s3-box-3/tests/main.yaml
          - ./devices/espressif-esp32-s3-box-3/tests/sensor.yaml
          - ./devices/led-brick-home/tests/main.yaml
          - ./devices/led-brick-home/tests/single-channels.yaml
          - ./devices/localdeck/tests/main.yaml
          - ./devices/sonoff-rf-bridge/tests/doorbell.yaml
          - ./devices/sonoff-rf-bridge/tests/last-rf-received.yaml
          - ./devices/sonoff-rf-bridge/tests/main.yaml
        exclude:
          - test_file: 2025.10.5
            esphome_version: ./devices/adafruit-magtag/tests/main.yaml
    steps:
      - name: Check out the repository to the runner
        uses: actions/checkout@v4

      - name: Restore cache
        id: esphome-cache-restore
        uses: actions/cache/restore@v4
        with:
          path: ./.esphome
          key: esphome_${{ matrix.esphome_version }}_${{ matrix.test_file }}

      - name: Run test script
        run: ./test.sh -t ${{ matrix.test_file }} -v ${{ matrix.esphome_version }}

      - name: Cache
        uses: actions/cache@v4
        with:
          path: ./.esphome
          key: ${{ steps.esphome-cache-restore.outputs.cache-primary-key }}
